<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}" type="text/css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Portfolio website complete</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Ahmet</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Ahmet</span><br> Backend Engineer
                        <br><span class="home__title-color">or</span>
                        <br>Python Developer
                    </h1>

                    <a href="#" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/ahmetbahadircol/?locale=en_US" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href=https://github.com/ahmetbahadircol class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <!-- <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="50" y="60" href="assets/img/kubernetes_logo.png"/>
                        </g>
                    </svg>
                </div> -->
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="static/assets/img/ahmet_col_logo.jpeg" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Ahmet</h2>
                        <p>
                            My relationship with Information Technology goes back to before my undergraduate education. 
                            Even when I was not familiar with software yet, I spent my summer months working in Technical Service departments of various institutions for short periods. 
                            In this process, I saw that my social and technical skills were prone to the field of engineering and I chose Industrial Engineering, which is a field where I can integrate my skills in these fields in my education life. 
                            I have built my professional career on these skills. In addition to my business life, I continue to work as a hobby and include software-based works such as RPA projects and Web site development projects. 
                            Besides, dealing with Opera and Musical, watching movies and improving myself about Turkish and Italian cuisine are among my hobbies.
                        </p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>
                <h2 class="skills__subtitle">
                    Python, Django, PostgreSQL, Microsof SQL Server, Git, GitHub, Docker, Kubernetes, HTML, CSS, Delphi, Pascal, Office apps.
                </h2>
                <div class="skills__container bd-grid">
                    <a href="" class="skills__img">
                        <img src="static/assets/img/python_logo_png.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/django_logo.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/postgresql_logo.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/microsoft-sql-server.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/git_logo.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/docker_logo.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/kubernetes_logo.png" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/html_css_logo.jpeg" alt="">
                    </a>
                    <a href="" class="skills__img">
                        <img src="static/assets/img/Microsoft-Office-logo.png" alt="">
                    </a>
                </div>
            </section>

            <!--===== WORK =====-->
            <h2 class="section-title">Education & Work Experience</h2>
            <ul class="timeline">
                <!-- Plentific -->
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="hexa"></span>
                      <span class="flag">Plentific</span>
                      <span class="time-wrapper"><span class="time">March 2022 - Feb 2024</span></span>
                    </div>
                    <div class="pos_title">Backend Software Engineer</div>
                    <div class="desc">
                        Detail given in <a href class="link-animation">resume.</a>
                        </div>
                  </div>
                </li>
              
                <!-- Atiker -->
                <li>
                    <div class="direction-l">
                      <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Atiker Software</span>
                        <span class="time-wrapper"><span class="time">March 2020 - March 2022</span></span>
                      </div>
                      <div class="pos_title">ERP Project Specialist</div>
                      <div class="desc">
                          Detail given in <a href class="link-animation">resume.</a>
                          </div>
                    </div>
                  </li>

                <!-- Man -->
                <li>
                    <div class="direction-r">
                      <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">MAN</span>
                        <span class="time-wrapper"><span class="time">Aug 2018 - May 2019</span></span>
                      </div>
                      <div class="pos_title">Graduation Project Student</div>
                      <div class="desc">
                        Creating the Required Database and Interface for Assigning CFT Teams in Microsoft Access Platform.
                          </div>
                    </div>
                  </li>
              
                <!-- Hacettepe -->
                <li>
                    <div class="direction-l">
                      <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Hacettepe University</span>
                        <span class="time-wrapper"><span class="time">Sep 2014 - Jun 2019</span></span>
                      </div>
                      <div class="pos_title">Bachelor's in Industrial Engineering</div>
                      <div class="desc">
                          <b>Final Grade:</b> 3,12
                          <br><b>Thesis: </b>A Database Solution for The Cross Functional Team Allocation Problem in Man Türkiye
                          </div>
                    </div>
                  </li>
                <!-- Bilkent -->
                <li>
                    <div class="direction-r">
                      <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Bilkent Holding</span>
                        <span class="time-wrapper"><span class="time">May 2018 - Jun 2018</span></span>
                      </div>
                      <div class="pos_title">Intern</div>
                    </div>
                  </li>
                <!-- Meteksan -->
                <li>
                    <div class="direction-l">
                      <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Meteksan Defence</span>
                        <span class="time-wrapper"><span class="time">Jun 2017 - Jul 2017</span></span>
                      </div>
                      <div class="pos_title">Intern</div>
                    </div>
                  </li>
              </ul>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>
                <div class="contact__block bd-grid">
                    <div class="contact__title">
                        <b>Tel:</b><span> +90 5523500602</span>                       
                    </div>
                    <div class="contact__title">
                        <b>E-mail:</b><span> ahmetbahadircol@gmail.com</span>                       
                    </div>
                    <!-- <div class="contact__details">568464868</div> -->
                </div>

                <div class="contact__container bd-grid">
                    <form action="/submit_form" method="post" class="contact__form">
                        <input type="text" name="name" placeholder="Name" class="contact__input">
                        <input type="mail" name="email" placeholder="Email" class="contact__input">
                        <textarea name="message" placeholder="Message" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <!-- <input type="button" value="Send" class="contact__button button"> -->
                        <button class="contact__button button" type="submit">Submit</button>
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Ahmet Col</p>
            <div class="footer__social">
                <a href=https://github.com/ahmetbahadircol class="footer__icon"><i class='bx bxl-github' ></i></a>
                <a href=https://www.instagram.com/bahadirahmetcol/ class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.linkedin.com/in/ahmetbahadircol/?locale=en_US" class="footer__icon"><i class='bx bxl-linkedin' ></i></a>
            </div>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="static/assets/js/main.js"></script>
    </body>
</html>
